
/* Overrides */
body, button{
    font-family: $font-stack;
    background: $white;
}

header{
    padding: 15px 0;
    position: relative;
    width: 100%;
}

main{
    margin-top: 0px;
}

.aside{
    background: #ebedef;
    height: 100vh;
}

p{
    line-height: 26px;
    font-size: 14px;
    color: $base-color;
}

a{
    color: $base-color;
}

h1{
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}

h1.page-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 30px;
}

h5{
    color: #6d7288;
}


.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    max-width: 100%;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.logo{
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    padding: 15px 0;
    font-size: 30px;
    color: #164567;
}

.card{
    flex: 1;
    -webkit-box-shadow: 0px 0px 5px 0px #F8F9FD;
    -moz-box-shadow: 0px 0px 5px 0px rgba(209,205,209,1);
    box-shadow: 0px 0px 5px 0px rgba(209,205,209,1);
    border-radius: 3px !important;
    border: 0px;
}

.no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row__no-padding {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

/* Modifiers */

.row__margin{
    margin-bottom: 20px;
}

.color--primary{
    color: $primary-color;
}

.color--secondary{
    color: $secondary-color;
}

.color--danger{
    color: $danger-color;
}

.icon--spacing{
    padding: 0 0 5px 0;
}

.is-active{
    font-weight: 700;
}

.border-fix{
    border-top: 1px solid #efefef;
}


hr.small{
    margin: 0.5em 0;
}

.primary-text-color{
    color: #19496b !important;
}

.text-muted{
    color: #8695a0 !important;
    font-size: 13px;
}

.text-red{
    color: rgb(216, 49, 49);
}

.text-green{
    color: rgb(42, 179, 49);
}

.padding-lg{
    padding: 0 40px;
}

.pull-right {
    float: right;
}

.wrapper-chart{
    margin-top: 20px;
}