@media screen and (min-width: 768px) {
    .hidden-lg{
        display: none;
    }
    .hidden-sm{
        display: block;
    }
}


@media screen and (min-width: 1281px) {
    .container{
        width: 1280px;
    }
}

@media screen and (min-width: 1920px) {
    .container{
        width: 1440px;
    }
}