@media screen and (max-width: 480px) {
    header{
        padding: 5px 0 !important;
    }

    main{
        margin-top: 0px !important;
    }

    .aside{
        height: auto !important;
    }

    .logo{
        margin: 0px;
        text-align: center;
        padding: 10px 0;
        font-size: 18px;
        color: #164567;
        width: auto;
    }

    nav.primary-navigation{
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: #EBEDEF;
    }

    nav ul li {
        list-style: none;
        padding: 0px !important;
        width: 33.33%;
        margin: 0 !important;
        padding: 5px;
        float: left;
        font-size: 12px;
    }

    nav ul li a{
        text-align: center !important;
        padding: 8px !important;
    }

    nav ul li img{
        width: 20px;
        display: block;
        margin: 0 auto !important;
    }

    nav ul li a:hover, nav ul li a.active{
        border-radius: 0px !important;
    }


    .padding-lg{
        padding: 0 10px;
    }

    .no-padding-mobile{
        padding: 1px !important;
    }

    .mr-2{
        margin-right: auto !important;
    }

    .account{
        float: left;
    }

    .search{
        float: right;
    }

    .hidden-sm{
        display: none;
    }

    .hidden-lg{
        display: block;
    }

}