.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 1px solid #e8e6e6;
}

.table tr th{
    font-weight: 400;
}

.table{
    font-size: 14px;
}

.table-borderless th {
    border: 0;
}

.table tr th{
    font-weight: 600;
    color: #376281 !important;
}

.table tr{
    font-weight: 400;
    color: #556c7c;
}

.table tbody tr:hover{
    background: #fafcfd !important;
}